{*Наследование от основного файла *}
{extends '/_layouts/base.tpl'}

{block 'text'}
    Продолжение....
    Ты находишься в странице которая "рендерится"(отображается/собирается) при входе на сайт(в браузере ты видишь ее).


    Обрати внимание на 2 строку (нумирация строк в левой части)
    extends "/_layouts/base.tpl"

    Когда шаблонизатор видит такую строчку он идет в этот файл и распознает структуру и доклеивает части страницы к текущей (в этом файле ты уже был).
    в нашем случае это base.tpl там  подключены стили  скрипты счетчики метрики и подобные вещи.(сейчас об этом думать не нужно, "работает! не трогай")
    Нам не приходится делать это руками на каждой странице мы унаследовались и теперь наша страница тоже имеет все что имеет base.

    Посомтри в base.tpl там есть размеченный block 'content' в нем написан текст но его не видно потому что он перекрыт блоком с таким же
    названием в открываемой старнице index.tpl т.е. в этой!

    Обрати внимание в base.tpl НЕТ блока text в котором я написал тебе этот текст -> раз в унаследованной структуре(от base.tpl)
    такаого блока нет, то и на странице index его не будет...

    1действие
    Если ты разметишь в base.tpl  block c названием text  то этот текст будет виден на странице,
    так как появится в структуре от которой мы унаследованны. Сразу вернись сюда после этого!

    2действие
    Даввай сделаем так что бы содержимое блока temp мы видели на странице а другие нет. ( header оставим пусть будет )
    или поиграем с структурой базового
    или тут поиграемся с блоками удалив  и пеименовав не нужные (

    ( обновить страницу) После того как у нас на странице виден текст из блока temp перейдем на страницу и продолжим читать там со слов "ООО! Кого я вижу"
{/block}

{block 'content'}
    <br>
    <br>
    <div class="container">
        <div class="index-page">
            <span class="index-page__text">Я контент.</span>
            <span class="index-page__text">Может тут есть кто еще? =)</span>
        </div>
    </div>
    <br>
    <br>
{/block}

{block 'temp'}
    <div class="container">
        <div class="index-page">
            ООО! Кого я вижу! Привет хедер, я контент! Я тут: /pages/index/index.tpl (открой меня)
            <br>
            Я унаследован от базового шаблона строчкой "extends '/_layouts/base.tpl"
            <br>
            Мы с тобой имеем нейминг классов по BEM! давай посомтрим на верстку:
            <br>
            /pages/index/index.tpl и /_parts/_header.tpl
            <br>
            Давай поможем меня разметить. Читать будет удобнее...
            <br>

            <br>
            <br>
            Действие 3 Пошли в папку /static/scss/_blocks -> создадим новый файл "_index-page.scss" и подключим его в файле
            "__index.scss" который находися в этой же папке(по аналогии с _header.scss он в нем уже подключен командой
            @import).
            <br>
            <br>
            Зайдем в _header.scss и изучим архитектуру верстки в scss+BEM. Обрати внимание что "&" <- этот символ просто
            склеивает имена классов: к вложенным &__block1 он приклеит .header который находится вышена; на выходе мы
            получаем .header__block1
            <br>
            Так же точно он поступит и с модификатором, приклеит его. Посмотри как применяется модификатор в _header.tpl
            обрати внимание что необходимо 2 класса header__block2 так и header__block2_red. Тогда наш блок в верстке
            унаследует классы header__block2 и header__block2_red
            <br>
            <br>
            Действие 4 А дальше создадим подобную но уже в нашем _index-page.scss
            попробуй присвоить index-page__text стили такие как display:block; и margin-bottom 10px; Посмотри что
            изменилось на странице. ( На блок с классом  container  не обращай внимания он понадобиться позже... ниже есть подсказка как начать)
            <br>
            <br>
            <br><br>
            Подсказка
            <br>
            .index-page {
            <br>
            &__text {
            <br>
            ... тут стили
            <br>
            }
            <br>
            }
            <br>
            <br><br>
            <br>
            <span class="index-page__text">
                Отлично теперь ты знаешь где верстать
            </span>
            <span class="index-page__text">
                Включи мобильную версию в режиме разработчика и посмотри как меняется цвет фона при сужении или расширении экрана.
                Ты должен увидеть разные цвета
            </span>
            <span class="index-page__text">XL Зеленый - Большие мониторы,  </span>
            <span class="index-page__text">L Белый - Ноутбуки как у тебя ( поэтому скорее всего ты видишь белый),</span>
            <span class="index-page__text">M Фиолетовый - планшеты телефоны</span>
            <span class="index-page__text">SК Крабовый - телефоны</span>
            <span class="index-page__text">XS Индиго - маленькие телефоны 320( да пока мы под них еще верстаем...)</span>
            <span class="index-page__text">Это поинты( точки ) при которых меняется разрешения. Для того что бы мы могли адаптировать верстку под разные экраны.
                Поэтому она и адаптивная.</span>
            <span class="index-page__text">
                Мы работаем с 5 точками  Об этом говорит тебе красная пометка внизу экрана. Она Подскажет какое разрешение ты видишь в данный момент.</span>
            <span class="index-page__text">
                Открой _base.scss (/static/scss/_parts/_base.scss)</span>
        </div>
    </div>
{/block}