$max-row-width: 7000;
$grid-columns: 12;
$L: 1440;
$LM: 1325;
$M: 1024;
$S: 768;
$XS: 576;


$grid: (
        XL: (to: $max-row-width, from: $L+1, gutter: 12),
        L: (to: $L,  from: $M+1,  gutter: 12),
        M: (to: $M,  from: $S+1,  gutter: 12),
        S: (to: $S,  from: $XS+1, gutter: 12),
        XS: (to: $XS, from: 0,   gutter: 0)
);

:export { L: $L;M: $M; S: $S; XS: $XS; }


$body-font-size: 16px;
$font: "Arial", sans-serif;
$h-font: "Arial", sans-serif;

$t: transparent;

$primary-color: #01c767;
$alert-color: #b50000;

$default-transition: all 0.4s;